
.register-form {
  margin: 0 auto;
  width: 50%;
  justify-content: center;
  margin-top: 10rem;
  text-align: center;
}

.registerHeading {
  color: #ffffff;
}

.registered {
  margin: 0 auto;
  width: 40%;
  height: 20%;
  justify-content: center;
  margin-top: 10rem;
  text-align: center;
}
