  .salong{
    align-content: center;
    text-align: center;
    p{
      margin:0;
      margin-top: -2px;
      display:none;
    }
  .row{
    width: 320px;
    margin:auto;
  }

  .seat{
    width: 20px;
    height: 20px;
    background-color: brown;
    margin: 3px;
    display: inline-block;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    cursor: pointer;
  }

  .unavailableSeat{
    width: 20px;
    height: 20px;
    margin: 3px;
    display: inline-block;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    pointer-events: none;
    background-color: gray;
  }

  .choosenSeat{
    width: 20px;
    height: 20px;
    margin: 3px;
    display: inline-block;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: brown;
    animation: blink 1s linear infinite;
    cursor: pointer;
  }

  .hoverChoosenSeat{
    width: 20px;
    height: 20px;
    margin: 3px;
    display: inline-block;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: brown;
    pointer-events: none;
    animation: blink 1s linear infinite;
    cursor: pointer;
    p{
      display:block;
    }
  }

  @keyframes blink{
    50%{background-color: red;}
    100%{background-color: brown;}
  }
}